body {
    background-color: #AAA;
}

header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    font-size: 3vw;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #ffe633;
    font-size: 2.5vw;
    text-align: center;
    transition: color 0.5s;
}

a:active {
    color: red;
}

a:hover {
    color: #000;
}

