body {
    background-color: #DD6969;
    font-family: 'Josefin Sans', sans-serif;
    color: #EAE9AC;
    padding: 0px;
    margin: 0px
}

header {
    color: #ffe633;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    font-size: 3vw;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

header > img {
    width: 49%;
}

nav {
    display: flex;
    justify-content: space-around;
}


a {
    text-decoration: none;
    color: #ffe633;
    font-size: 2.5vw;
    text-align: center;
    transition: color 0.5s;
    background: url(../images/link-sign.png) no-repeat 0 0;
    background-size: 95% 100%;
    background-position: center;
}

nav > a {
    display: block;
    width: 100%;
    height: auto ;
}

a:active {
    color: red;
}

a:hover {
    color: #625A4F;
}

section#sum {
    display: block;
    width: 100%;
    padding-top: 1em;
    
}

section#sum > img {
    padding: 0px 10% 0px 10%;
    width: 80%;
    left: 10%;
    right: 10%;
}

section#sum > p {
    position: relative;
    font-size: 3vw;
    text-align: center;
    padding: 0;
    margin: 0 0 10px 0;
    width: 80%;
    left: 10%;
}

hr {
    color: #EAE9AC;
}

div.boats {
    display: block;
    position: relative;
    width: 80%;
    height: 30%;
    left: 10%;
    right: 10%;
    text-align: center;
}

div.boats > img {
    display: block;
    float: left;
    width: 50%;
    padding: 5px
}

div.boats > p {
    display: block;
    float: inherit;
    padding: 5px;
}

iframe {
    width: 100%;
    height: 15em;
}

